@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;800&family=Montserrat&display=swap');

:root{
  max-width: 1500px;
  margin: auto;
  background: #faf8f5;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
a {
  color: black;
  outline: none;
  text-decoration: none;
}
.container_footer{
  width: 100%;
  text-align: center;
  background: #e6e6e6;
  padding-top: .95rem
}
.alert-container{
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-alert{
  max-width: fit-content;
}